# July 15/2025

## List, Tuples, Set, Dictionary, and Functions

# 1. List []
Ordered, mutable, allows duplicates
Use when you need a sequence of items that may change

In [20]:
Mella_list = ["Tes","Abel","Nat","Hail"]
print(Mella_list)

['Tes', 'Abel', 'Nat', 'Hail']

In [4]:
for i in Mella_list:
    print(i)

Tes
Abel
Nat
Hail

In [12]:
for i, listt in enumerate(Mella_list):
    print(i,listt)

0 Tes
1 Abel
2 Nat
3 Hail

In [30]:
Mella_list[0] = "Abdu"
print(Mella_list)

['Abdu', 'Abel', 'Nat', 'Hail', ['Tes11', 'Abel11', 'Nat11', 'Hail11'], 'Tes11', 'Abel11', 'Nat11', 'Hail11']

In [21]:
Mella_list2 = ["Tes11","Abel11","Nat11","Hail11"]

In [25]:
len(Mella_list2)

4

In [24]:
Mella_list.append(Mella_list2) 
print(Mella_list)

['Tes', 'Abel', 'Nat', 'Hail', ['Tes11', 'Abel11', 'Nat11', 'Hail11'], 'Tes11', 'Abel11', 'Nat11', 'Hail11']

# 2. Tuple ()
Ordered, immutable, allows duplicates
Use when your data should not change

In [31]:
Mella_list = ("Tes","Abel","Nat","Hail")
print(Mella_list)

('Tes', 'Abel', 'Nat', 'Hail')

In [33]:
Mella_list[0] = "Abdu" # Therefore the error is due to the immutable behaviour of Tuples

TypeError: 'tuple' object does not support item assignment

# 3. Set {}
Unordered, mutable, no duplicates allowed
Great for removing duplicates or doing set math

In [40]:
Mella_list1 = {"Tes","Abel","Nat","Hail"}
Mella_list2 = {"Tes","Ahmed","Nat","Biruk"}
Mella_list1.difference(Mella_list2)

{'Abel', 'Hail'}

# 4. Dictionary {key: value}
Old-python was not guarenteed for order, but today its ordered, mutable, stores key-value pairs
Comfortable for observation and DF.

In [3]:
st_dict = {"Name": ["Abel", " ", "Awetino", "Hailish"],
           "Height": [5, 6, 8, 7]}
print(st_dict)

{'Name': ['Abel', ' ', 'Awetino', 'Hailish'], 'Height': [5, 6, 8, 7]}

In [4]:
import pandas as pd
data = pd.DataFrame(st_dict)
data

      Name  Height
0     Abel       5
1                6
2  Awetino       8
3  Hailish       7

# Mella Math Operator functions

In [ ]:
%%writefile Mella_Math_func.py